@import "partial-name";

$map: (
  "key-1": value-1,
  "key-2": value-2,
);

.c-example {
  border-width: 0;
  background-color: $color-variable;

  @media (min-width: $screen-variable) {
    margin: ($spacing-variable * 2) $spacing-variable;
  }

  &.is-active {
    background-color: $other-color-variable;
  }

  &:hover {
    box-shadow: 0 0 2px 1px $color-variable;
  }

  &::before {
    content: "hello";
  }
}

.c-example-two {
  @include mixin;
  display: flex;
  flex: 1 1 auto;
  align-items: center;

  // Nest components only if the styles should be
  // different in the scope of the parent component.
  .c-link {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  // don't concatenate selectors
  &__child {
    color: $red;
  }
}
